
.hero {
    display: flex;
    background-color: var(--background-color-footer);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding: 118px 60px;
    
    @media screen and (min-width: 768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header-tablet.jpg);
                padding: 118px 204px;
        }

                @media screen and (min-width: 768px) {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(../images/all.jpg);
                    padding: 200px 0;
                }

        
}


.hero-title {
font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-hero-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    
    

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 700px;
    }
}

.container__btn {
    display: flex;
    display: inline-block;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;

    color: var(--main-hero-color);
    background-color: var(--background-color-btn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &:hover {
        color: var(--hover-color);
        background-color: var(--adress-link-color);
    }

    &:focus {
        color: var(--adress-link-color);
        background-color: var(--hover-color);
    }
}


