.main {
    background-color: var(--body-backgrounf-color);
}
.hero {
        background-color: var(--background-color-footer);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/header-1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        max-width: 1600px;
        text-align: center;
        margin: 0 auto;
       

       

    // @media screen and (min-width: 480px) {
    //         width: 480px;
    //         height: 400px;
    //         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //             url(../images/header-1x.jpg);
    //             padding: 200px 0px;
    //         background-repeat: no-repeat;
    //         background-position: center;
    //         background-size: auto;
    //         max-width: 480px;
    //         margin: 0 auto;
    
    //     }
    
}


.container__title {
    display: block;
    font-weight: 900;
    font-size: 26px;
    padding-right: 60px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-hero-color);
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 30px;
    width: 480px;
    

}

.container__btn {
    display: flex;
    display: inline-block;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;

    color: var(--main-hero-color);
    background-color: var(--background-color-btn);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &:hover {
        color: var(--hover-color);
        background-color: var(--adress-link-color);
    }

    &:focus {
        color: var(--adress-link-color);
        background-color: var(--hover-color);
    }
}


